body {
  font-family: "Inter", sans-serif;
}
header {
  margin: 97px 30px 30px 0;
}
ul {
  list-style: none;
  word-spacing: 40px;
  float: right;
}
li,
p {
  font-size: 15px;
  color: #5e607a;
}
li {
  display: inline-block;
  color: #5e607a;
}
nav a {
  text-decoration: none;
  color: #5e607a;
  transition: all 160ms ease-in-out;
}
nav a:hover {
  color: #f15d51;
}

main {
  margin-bottom: 50px;
}
h1,
section h3,
h4 {
  font-weight: 800;
}

h1 {
  font-size: 56px;
  padding: 0 30px 0 0;
  line-height: 1;
}
button {
  background-color: #f15d51;
  color: #fffdfa;
  padding: 10px 20px;
  border: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 4px;
  transition: all 220ms ease-in-out;
}
button:hover {
  background-color: #00001a;
}
section > h2 {
  color: #e9aa52;
  font-weight: 700;
  margin-bottom: 30px;
}
section h3 {
  color: #fffdfa;
  font-size: 20px;
  transition: all 160ms ease-in-out;
}
section h3:hover {
  color: #e9aa52;
  cursor: pointer;
}
section p {
  color: #c5c6ce;
  border-bottom: 1px solid #5e607a;
  padding: 10px 20px 40px 0;
}
aside span {
  font-size: 32px;
  color: #c5c6ce;
  font-weight: 700;
}
h4 {
  font-size: 18px;
  transition: all 160ms ease-in-out;
}
h4:hover {
  color: #f15d51;
  cursor: pointer;
}
aside {
  margin-bottom: 40px;
  display: flex;
}

.nav-wrapper {
  overflow: auto;
  margin-right: 40px;
}
.logo {
  float: left;
}
.menu-icon {
  float: right;
}
.main-img {
  margin-bottom: 30px;
}
.main-paragraph {
  padding-right: 40px;
  color: #5e607a;
  line-height: 2;
}

.section-new {
  background-color: #00001a;
  padding: 14px;
  height: 511px;
  width: 350px;
}
.last-article {
  border-bottom: none;
}
.aside-img {
  height: 127px;
  width: 100px;
}
.image-description {
  margin-left: 10px;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 960px) {
  h1 {
    font-size: 38px;
  }
  button {
    padding: 5px 10px;
    font-size: 8px;
  }
  section > h2 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  section h3 {
    font-size: 14px;
  }
  section p {
    font-size: 12px;
    padding: 5px 10px 20px 0;
  }
  aside {
    display: flex;
    flex-direction: row;
  }
  aside-img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  aside span {
    font-size: 16px;
  }
  h4 {
    font: 14px;
  }
  aside p {
    font-size: 8px;
    margin-bottom: 20px;
  }
  .nav-wrapper {
    margin: 0px;
  }
  .main-paragraph {
    padding: 0px;
    font-size: 12px;
  }
  .section-new {
    max-width: 100%;
    height: auto;
  }
  .last-article {
    margin: 0;
    padding: 0;
  }
}

@media (max-width: 400px) {
  header {
    margin-top: 30px;
  }

  aside {
    flex-direction: column;
  }
  h1 {
    font-size: 40px;
  }
  button {
    margin: 10px 0 30px 0;
    padding: 10px 20px;
    font-size: 10px;
  }
  section > h2 {
    font-size: 32px;
  }
  section h3 {
    font-size: 20px;
  }
  section p {
    font-size: 15px;
  }
  aside span {
    font-size: 32px;
  }
  h4 {
    font-size: 18px;
  }
  aside p {
    font-size: 15px;
  }

  .nav-wrapper {
    margin: 0 10px;
    width: 100%;
  }
  .logo {
    width: 15%;
  }
  .menu-icon {
    position: relative;
    top: 6px;
  }
  .main-img-mobile {
    margin-bottom: 20px;
  }
  .main-paragraph {
    padding-right: 10px;
    font-size: 15px;
  }
  .section-new {
    height: 489px;
    width: 343px;
  }
  .aside-display-row {
    display: flex;
    margin-bottom: 20px;
  }
}
